.form{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fbfbfb

}

.form_into{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 380px;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 0 5px rgba(192, 191, 191, 0.7);

}

.btn{
  padding: 10px;
  width: 150px;
  margin-top: 20px;
  border-radius: 12px;
  border: none;
  background-color: lightcoral;
  color: white;
  cursor: pointer;
  transition: 0.5s ease;
}
.btn:hover{
  background-color: blue;

}

.title,
.info,
.price,
.image{
  padding: 10px;
  width: 360px;
  border-radius: 20px;
  border: 1px solid blue;
  margin-top: 10px;
}

.input{
  display: flex;
  flex-direction: column;
}
.elements{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.element{
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 8px rgb(58, 58, 58);
  border-radius: 20px;
  padding: 10px;
  width: 200px;
}